.btn-criarConta{
    background-color: #070c90;
    color: white;
}
.btn-criarConta:hover{
    background-color: #1c23e7;
    color: white;
}

html, body{
    overflow-x: hidden;
}

.titulo{
    font-family: 'MedievalSharp';
    font-weight: bold;
}
